
.myHref {
  font-size: 14px;

  overflow: hidden;
  display: float;

  .item {
    padding: 5px;
    margin-top: 2px;
    float: left;
    // width: 33.33%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
    div {
      background: #FFFAE3;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  .select {
    div {
      background: #969696;
      color: #fff;
    }
  }
}